<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Giao dich</title>
  </head>
  <body>
    <h1>Username: <%= user.username %></h1>
    <p>Phone: <%= user.phone %></p>
    <img src="images/<%= user.hinh %>"/>
  </body>
</html>
